<div class="plan-link" id="links-plan">
  <div class="tool-entry">
  	<h6>File Downloads</h6>
    <a href="/xgds_planner2/plan/bearingDistance/{{planId}}" target="_blank">Summary</a><br/>
	<a href="/xgds_planner2/plan/bearingDistanceTop/{{planId}}" target="_blank">Summary (Top only)</a><br/>
	{{#each planLinks}}
      	<a href="{{this}}" target="_new">{{@key}}</a><br/>
	{{/each}}
	<p>

	<h6>AER Resource Estimation</h6>
	<input class="btn btn-primary" id="aerButton"  type="submit" value="Call AER">

	</p>
	<p>
	<div id="aerMessage" style="color:blue;"><br/></div>
	</p>
  </div>
</div>
